version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: surveyhub-postgres
    environment:
      POSTGRES_DB: surveyhub
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: surveyhub-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
