.card {
    @apply bg-white rounded-2xl shadow-soft border border-gray-50 flex flex-col transition-all duration-300;

    // Hover Effects
    &-hoverable:hover {
        @apply transform -translate-y-1 shadow-xl shadow-blue-500/10 cursor-pointer;
    }

    // Padding Variants
    &-padding-none {
        @apply p-0;
    }

    &-padding-small {
        @apply p-4;
    }

    &-padding-medium {
        @apply p-6;
    }

    &-padding-large {
        @apply p-8;
    }
}

.card-header {
    @apply mb-4 border-b border-gray-100 pb-3;
}

.card-title {
    @apply text-lg font-bold text-nashtech-text text-lg;
}

.card-subtitle {
    @apply text-sm text-gray-500 mt-1;
}

.card-content {
    @apply h-full;
}